.layout {
  display: grid !important;
  grid-template-columns: auto 1fr auto;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}
main {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
}
.navbar {
  min-width: 0 !important;
  width: auto !important;
}
