.tweet-input {
  width: 100%;
  padding: 5px 10px;
}
.text-area,
.text-area > .ant-space-item {
  width: 100%;
}
.text-area .ant-form-item {
  margin-bottom: 0;
}
.tweet-list::-webkit-scrollbar {
  width: 0;
}
.tweet-actions {
  width: 100%;
}

.tweet-input > .ant-space-item:nth-child(2) {
  flex-grow: 1;
}
.tweet-actions > .ant-space-item:nth-child(2) {
  margin-left: auto;
}
