.avatar-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100px;
}
.avatar {
  margin: auto;
  width: 200px;
  height: 200px;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 5px solid var(--bg-color);
  position: absolute;
}
.avatar-edit {
  width: 150px;
  height: 150px;
  transition: 0.25s linear;
  filter: brightness(0.5);
  cursor: pointer;
}
span.avatar-upload {
  display: flex;
  justify-content: center;
}

.avatar-upload .ant-upload {
  transform: translateY(-50%);
  backdrop-filter: brightness(0.5) blur(10px);
}
span.ant-upload {
  top: 50%;
  position: relative;
}

button.btn-follow {
  position: absolute !important;
  right: 10px;
  bottom: 0;
}

.follow-info {
  display: flex;
  gap: 1rem;
  color: var(--fg-color);
}
.follow-info > a {
  color: var(--fg-color);
  text-decoration-color: var(--bg-color);
}

.user-info {
  padding-left: 2rem;
}
.user-profile {
  overflow: auto;
  scrollbar-width: 0;
}
.user-profile::-webkit-scrollbar {
  width: 0;
}
.select-after {
  min-width: 80px;
}
